@use "/src/styles/partials/colors" as *;
@use "/src/styles/partials/functions" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.NewWarehouseForm {
  padding: 0 24px;
  &__title {
    margin-top: 24px;
  }
  &__field-title {
    margin-bottom: 4px;
    margin-top: 24px;
    @include displayTablet {
      font-size: toRem(14);
    }
  }
  &__input-placeholder {
    box-sizing: border-box;
    height: 36px;
    width: 100%;
    background-color: $colPrimaryWhite;
    border: 1px solid $colSecondaryCloud;
    border-radius: 20px;
    text-indent: 4%;
    color: $colSecondarySlate;
    &:focus {
      color: $colPrimaryInstock-Black;
      border-color: $colPrimaryInstock-Indigo;
      outline: none;
    }
  }
}