@use "/src/styles/partials/colors" as *;
@use "/src/styles/partials/functions" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.main-container {
  //comment out the next 4 lines when combined with rest of page
  position: absolute;
  left: 4.27%;
  right: 4.27%;
  top: 7.53%;

  background: $colPrimaryWhite;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;

  &__header {
    display: flex;
    flex-direction: row;
    margin: 36px 24px 0 24px;
  }
  &__divider {
    width: 100%;
    height: 1px;
    border: none;
    background-color: $colSecondaryCloud;
    margin: 24px 0;
  }
  &__footer {
    background: rgba(247, 248, 249, 0.7);
    border-radius: 0px 0px 3px 3px;

    padding: 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include displayTablet {
      justify-content: flex-end;
    }
    &-cancel {
      background: $colPrimaryWhite;
      border: 1px solid $colSecondaryCloud;
      border-radius: 20px;
      width: 45%;
      height: 36px;
      flex-grow: 0;

      &:hover {
        border: 1px solid $colPrimaryInstock-Indigo;
        color: $colPrimaryInstock-Indigo;
      }

      @include displayTablet {
        height: 38px;
        width: 72px;
        margin-right: 16px;
      }
    }
    &-save {
      background: $colPrimaryInstock-Indigo;
      color: $colPrimaryWhite;
      border: 1px solid $colSecondaryCloud;
      border-radius: 20px;
      width: 45%;
      height: 36px;
      flex-grow: 0;
      &:hover {
        background: $colPrimaryInstock-Black;
      }
      @include displayTablet {
        height: 38px;
        width: 72px;
      }
    }
  }
}

.whitespace {
  height: 24px;
}

.two-forms {
  &__divider {
    width: 100%;
    height: 1px;
    border: none;
    background-color: $colSecondaryCloud;
    margin: 24px 0;
    @include displayTablet {
      width: 1px;
      height: 380px;
    }
  }
  @include displayTablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__first {
    @include displayTablet {
      width: 48%;
    }
  }
  &__second {
    @include displayTablet {
      width: 48%;
    }
  }
}
