@use "src/styles/partials/fonts" as *;
@use "src/styles/partials/global" as *;
@use "src/styles/partials/colors" as *;
@use "src/styles/partials/functions" as *;
@use "src/styles/partials/variables" as *;

.main {
  position: absolute;
  left: 4.27%;
  right: 4.27%;
  top: 7.53%;
  bottom: 5.31%;
  background: $colPrimaryWhite;
  /* Card Shadow */
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  &__header {
    padding: 36px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }
  &__title {
    margin-bottom: 16px; //this somehow doesn't get applied
  }
  &__search {
    // width: 295px;
    height: 36px;
    margin-top: 16px;
    background: $colPrimaryWhite;
    /* Cloud */
    border: 1px solid #bdc5d5;
    border-radius: 20px;
    box-sizing: border-box;
    background-image: url("src/assets/images/Icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: 99% center;
    text-indent: 1rem;
    font-size: 1rem;
    margin-bottom: 16px;
  }
  &__button {
    height: 36px;
    font-family: "Titillium Web", sans-serif;
    width: 100%;
    background: $colPrimaryInstock-Indigo;
    border-radius: 20px;
    flex-grow: 0;
    border: none;
    color: white;
  }
}

.table {
  &__container {
    display: flex;
  }
  &__header {
    display: none;
  }
}
