$colPrimaryInstock-Black: #13182C;
$colPrimaryInstock-Indigo: #2E66E5;
$colPrimaryWhite: #FFFFFF;
$colSecondarySlate: #5C667E;
$colSecondaryCloud : #BDC5D5;
$colBackgroundGraphite: #232940;
$colBackgroundLight-Gray: #F7F8F9;
$colSupportGreen: #158463;
$colSupportRed: #C94515;