@use "/src/styles/partials/colors" as *;
@use "/src/styles/partials/functions" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.InventoryListWarehousePage {
  &__main {
    background: $colPrimaryWhite;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    &__header {
      padding: $pad-4 $pad-4 $pad-4 $pad-4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__titlegroup {
        margin-bottom: $pad-3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__title {
          margin-left: $pad-1;
        }
      }
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $pad-1;
        height: toRem(36);
        background: $colPrimaryInstock-Indigo;
        border-radius: 20px;
        border: none;
        color: white;
        &:hover {
          background: $colPrimaryInstock-Black;
        }
        @include displayTablet {
          width: toRem(80);
          height: toRem(38);
        }
        &__icon {
          filter: brightness(100);
        }
        &__label {
          display: none;
          @include displayTablet {
            display: inline-block;
          }
        }
      }
    }
  }
  &__table {
    width: 100%;
    &__header {
      display: none;
      @include displayTablet {
        display: flex;
        justify-content: flex-start;
        background: rgba(247, 248, 249, 0.7);
        padding-left: $pad-4;
        padding-right: $pad-4;
        &__col {
          display: flex;
          justify-content: flex-start;
          &__group {
            height: toRem(36);
            display: flex;
            align-items: center;
            width: 100%;
            &--actions {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

}
