//You don't need to import these into your component SCSS since there are global CSS
// @use "src/styles/partials/fonts" as *;
// @use "src/styles/partials/global" as *;

//These are SASS variable partials and need to be imported into each component/page SCSS if used.
@use "src/styles/partials/colors" as *;
@use "src/styles/partials/functions" as *;
@use "src/styles/partials/variables" as *;

.App {
  background-color: none;
  &__col1 {
    color: $colPrimaryInstock-Black;
  }
  &__col2 {
    color: $colPrimaryInstock-Indigo;
  }
  &__col3 {
    color: $colSecondarySlate;
  }
  &__col4 {
    color: $colSecondaryCloud;
  }
  &__col5 {
    color: $colBackgroundGraphite;
  }
  &__col6 {
    color: $colBackgroundLight-Gray;
  }
  &__col7 {
    color: $colSupportGreen;
  }
  &__col8 {
    color: $colSupportRed;
  }
  &__size1 {
    //The ToRem Function allows you to input pixel values and it will be automatically converted to REM CSS by SASS.
    //No more manual calculations needed.
    width: toRem(400);
    border: 1px solid $colPrimaryInstock-Black;
  }
  &__size2 {
    width: toRem(200);
    border: 1px solid $colPrimaryInstock-Black;
  }
  &__pad1 {
    margin: $pad-2;
    padding: $pad-1;
    border: 1px solid $colPrimaryInstock-Black;
  }
  &__pad2 {
    margin: $pad-2;
    padding: $pad-4;
    border: 1px solid $colPrimaryInstock-Black;
  }
}
