@use "/src/styles/partials/colors" as *;
@use "/src/styles/partials/functions" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.form {
  padding: 0 24px;
  &__title {
    margin-top: 24px;
  }
  &__field-title {
    font-size: toRem(13);
    margin-bottom: 4px;
    margin-top: 24px;
  }
  &__input {
    box-sizing: border-box;
    height: 36px;
    width: 100%;
    background-color: $colPrimaryWhite;
    border: 1px solid $colSecondaryCloud;
    border-radius: 20px;
    text-indent: 4%;
    color: $colPrimaryInstock-Black;
  }
}
